programming-abstractions-cpp.2012.pdf
StanfordCPPLib
templates/
a.out
*/*/spl.jar

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
